[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
"google-auth-httplib2" = "*"
requests = "*"
"httplib2" = "*"
"oauth2client" = "3.0.0"
hachoir = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
